{% extends 'base.html' %}
{% block body %}

<div class="content">
        <div class="container">
            <div class="main">
                    <div class="col-md-10 main1">
                        {% if request.user.is_authenticated %}
                        <h1>Welcome : {{ request.user }}</h1><br>
                        <a href="/logout/">logout</a>
                        {% endif %}

                        {% if not request.user.is_authenticated %}
                            <h1>Sign Up</h1>
                            <form action='/signup/' method='POST'>
                                {% csrf_token %}
                                {{ form.as_p}}
                            <div class="loadmore1" style="float:left;">
                                <input type='submit' value='Sign Up' style="padding: 0; border: none; background: none;"/>
                            </div>
                            </form>
                   

                        <h3>Social Auth</h3>
                        <div class="loadmore1" style="float:left;">
                            <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Login with Twitter</a>
                        </div> 
                        {% endif %}
                    </div>
            
                    <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    
    
{% endblock %}