{% extends 'base.html' %}
{% block body %}


<div class="content">
		<div class="container">
			<div class="main">
					<div class="col-md-10 main1">
							<ul>
							{% for fabric in fabrics %}
								<li>
									
									<a href="/fabric_detail/{{ fabric.pk }}/"><h1>{{ fabric.name }}</h1></a>
									{% if fabric.image %}
									<img src="{{ fabric.image.url }}"><br>

									{% endif %}
										 
								</li>
								<hr>
							{% endfor %}
							
							</ul>
					</div>
			
					<div class="clearfix"> </div>
			</div>
		</div>
	</div>			
			

{% endblock %}