{% extends 'base.html' %}
{% block body %}

    <div class="content">
        <div class="container">
   			 
	            <div class="col-md-10 main1">
		            
			            <h1>Profile Page</h1>
							<p><h5>Email:</h5> {{ user.email }}</p>
							<p><h5>First Name:</h5> {{ user.first_name }}</p>
							<p><h5>Last Name:</h5> {{ user.last_name }}</p>
							<p><h5>Date Joined:</h5> {{ user.date_joined }}</p>

							<div class="loadmore1" style="float:left;">
								<a class="load" href="/edit_profile/">Edit Profile</a><br>
							</div>
							
						
				</div>
			
		</div>
    </div>

{% endblock %}

